* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('bg2.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form-container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 300px;
}

h2 {
    text-align: center;
    color: #03594e;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #03594e;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #03594e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #03594e;
}

p {
    text-align: center;
}

a {
    color: #03594e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
